.App {
  background-color: #111;
  height: 100vh;
}

.App {
  color: #f1f1f1;
}

.google-btn {
  width: 200px;
}

.toast {
  color:rgba(50,50,50,.85)
}

.login-box {
  margin-top: 30vh;
}

.task {
  font-size: 20px;
  padding: 10px;
  min-width: 600px;
  max-width: 600px;
}

.icons {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .toast {
    display: none;
  }
}